.contacts__title {
  .container();
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.contacts__address {
  .container();
  margin-bottom: 40px;
  line-height: 30px;

  & td {
    height: 55px;
    vertical-align: top;
  }
}

.contacts__address-name {
  width: 75px;
}

.contacts__email {
  border-bottom: 1px solid #62d1ba;
}

.contacts__map {
  margin-bottom: 35px;
}
