.features {
  margin-top: -70px;
  color: #ffffff;
}

.features__item {

  &--item-1 {
    background-color: #63d1bb;
  }

  &--item-2 {
    background-color: #56c3b2;
  }
}

.features__text {
  width: 260px;
  margin: 0 auto;
  padding: 25px 0;
  padding-right: 155px;
  box-sizing: border-box;
}
