.page-header {
  min-height: 420px;//780
  padding-bottom: 20px;
  background: #f9f9f9 url("../img/hero-mobile.jpg") no-repeat bottom;
}

.page-header__title {
  .container();
  margin-top: 70px;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  text-align: center;
}

@media (min-width: 768px) {
  .page-header {
    min-height: 835px;
    background: #f9f9f9 url("../img/hero-tablet.jpg") no-repeat bottom;
  }

  .page-header__title {
    margin-top: 175px;
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: 1150px) {
  .page-header {
    background: #f9f9f9 url("../img/hero-desktop.jpg") no-repeat bottom;
  }

  .page-header__title {
    width: 700px;
    font-size: 53px;
    line-height: 57px;
  }
}
