.page-header {
  min-height: 420px;//780
  padding-bottom: 20px;
  background: #f9f9f9 url("../img/hero-mobile.jpg") no-repeat bottom;
}

.page-header__title {
  .container();
  margin-top: 70px;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  text-align: center;
}

@media (min-width: 768px) {

}
